In [1]:
import pandas as pd

import sys
sys.path.append('../')
from custom_functions_scRBA import extract_details_from_rxnid

#### Model

In [2]:
df_model = pd.read_excel('../model/scRAM_network_frompy.xlsx')

#### kcat data from Oftadeh2021

In [ ]:
df_kcat1 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/enzyme2kcat.xlsx')
df_kcat1 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/enzyme2kcat.xlsx')

In [3]:
df_model

,id,type,symbolic_coeffs,reaction
0,RXN-BTDDH_c_FWD-YAL060W,metabolic,mu/keff,MET-btd_c + MET-nad_c + mu/keff ENZ-YAL060W --...
1,RXN-BTDDH_c_REV-YAL060W,metabolic,mu/keff,MET-actn__R_c + MET-h_c + MET-nadh_c + mu/keff...
2,RXN-13GS_c_FWD-GSC2RHO1,metabolic,mu/keff,MET-udpg_c + mu/keff ENZ-GSC2RHO1 --> MET-13BD...
3,RXN-13GS_c_FWD-GSC1RHO1,metabolic,mu/keff,MET-udpg_c + mu/keff ENZ-GSC1RHO1 --> MET-13BD...
4,RXN-16GS_c_FWD-YPR159W,metabolic,mu/keff,MET-udpg_c + mu/keff ENZ-YPR159W --> MET-16BDg...
...,...,...,...,...
5475,BIO-COFACTOR8,biomass,NaN,MET-ribflv_c --> 0.375356 BIO-ribflv_c
5476,BIO-COFACTOR9,biomass,NaN,MET-thf_c --> 0.443413 BIO-thf_c
5477,BIO-COFACTOR10,biomass,NaN,MET-thmpp_c --> 0.422291 BIO-thmpp_c
5478,BIO-SO4,biomass,NaN,MET-so4_c --> 0.096063 BIO-so4_c
5479,BIO-PI,biomass,NaN,MET-pi_c --> 0.095979 BIO-pi_c

#### Scripts to test and learn data

In [ ]:
df_model = pd.read_excel('../model/scRAM_network_frompy.xlsx')
df_model = df_model[df_model.type == 'metabolic']
df_model.index = df_model.id.to_list()

In [116]:
df_enz = pd.read_excel('../input/ENZYME_stoich_curation_2021-09-30.xlsx')

In [117]:
df_kcat = pd.read_excel('../input/raw/gecko_enzyme_rxn_pairs_Oftadeh2021.xls')

In [118]:
for i in df_kcat.index:
    cplx = df_kcat.composition[i]
    df = df_enz[df_enz.gpr.str.contains('^'+cplx+'_?.{0,2}')]
    if df.shape[0] > 0.5:
        rxns = ','.join(df.id)
        df_kcat.loc[i, 'rxn_match'] = rxns

In [126]:
df_kcat.to_excel('../input/PARAMS_kapp_GECKO_kcat_frompy.xlsx', index=False)

In [86]:
df = df_kcat[df_kcat.composition.str.contains('//')]

In [88]:
df.to_excel('../input/PARAMS_kapp_complex_match.xlsx', index=False)

In [78]:
tuple_kcat = dict()
for i in df_kcat.index:
    tuple_kcat[tuple(df_kcat.composition[i].split('//'))] = df_kcat.kcat[i]

In [83]:
df_enz.head()

,id,rxn_src,enz,gpr,protein_stoich,subunit_comments,status,MW (g/mmol)
0,RXN-BTDDH_c_FWD-YAL060W,BTDDH_c,YAL060W,YAL060W,YAL060W:2,NaN,protStoichAsgnAuto,91.17410
1,RXN-BTDDH_c_REV-YAL060W,BTDDH_c,YAL060W,YAL060W,YAL060W:2,NaN,protStoichAsgnAuto,91.17410
2,RXN-13GS_c_FWD-GSC2RHO1,13GS_c,GSC2RHO1,YLR342W and YPR165W,"YLR342W:1,YPR165W:1","Component of the 1,3-beta-glucan synthase (GS)...",protStoichAsgnManual,238.33867
3,RXN-13GS_c_FWD-GSC1RHO1,13GS_c,GSC1RHO1,YGR032W and YPR165W,"YGR032W:1,YPR165W:1","Component of the 1,3-beta-glucan synthase (GS)...",protStoichAsgnManual,241.31742
4,RXN-16GS_c_FWD-YPR159W,16GS_c,YPR159W,YPR159W,YPR159W:1,The cytoplasmic domain interacts with the acti...,protStoichAsgnManual,81.57498

In [77]:
df_kcat.head()

        composition rxnId         kcat
0  YEL039C//YDL174C   NaN  1499.961001
1  YDL174C//YJR048W   NaN  1499.961001
2  YEL039C//YEL071W   NaN  1499.961001
3  YJR048W//YEL071W   NaN  1499.961001
4  YEL039C//YDL178W   NaN  1499.961001

In [81]:
df_model.head()

,id,type,symbolic_coeffs,reaction
RXN-BTDDH_c_FWD-YAL060W,RXN-BTDDH_c_FWD-YAL060W,metabolic,mu/kapp,MET-btd_c + MET-nad_c + mu/kapp ENZ-YAL060W --...
RXN-BTDDH_c_REV-YAL060W,RXN-BTDDH_c_REV-YAL060W,metabolic,mu/kapp,MET-actn__R_c + MET-h_c + MET-nadh_c + mu/kapp...
RXN-13GS_c_FWD-GSC2RHO1,RXN-13GS_c_FWD-GSC2RHO1,metabolic,mu/kapp,MET-udpg_c + mu/kapp ENZ-GSC2RHO1 --> MET-13BD...
RXN-13GS_c_FWD-GSC1RHO1,RXN-13GS_c_FWD-GSC1RHO1,metabolic,mu/kapp,MET-udpg_c + mu/kapp ENZ-GSC1RHO1 --> MET-13BD...
RXN-16GS_c_FWD-YPR159W,RXN-16GS_c_FWD-YPR159W,metabolic,mu/kapp,MET-udpg_c + mu/kapp ENZ-YPR159W --> MET-16BDg...

In [69]:
df_kcat.head()

        composition rxnId         kcat
0  YEL039C//YDL174C   NaN  1499.961001
1  YDL174C//YJR048W   NaN  1499.961001
2  YEL039C//YEL071W   NaN  1499.961001
3  YJR048W//YEL071W   NaN  1499.961001
4  YEL039C//YDL178W   NaN  1499.961001

In [58]:
# kcat from Oftadeh2021 is in 1/h
df_kcat1 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/enzyme2kcat.xlsx')
df_kcat1 = df_kcat1.drop(['kcat_bwd'], axis=1)
df_kcat1.index = df_kcat1.complex.to_list()

df_kcat2 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/complex2kcat.xlsx')
df_kcat2.index = df_kcat2.complex.to_list()

df_kcat = df_kcat2.copy()
idx_out = set(df_kcat1.index) - set(df_kcat2.index)
for i in idx_out:
    df_kcat.loc[i, 'complex'] = df_kcat1.complex[i]
    df_kcat.loc[i, 'kcat'] = df_kcat1.kcat[i]
    
# Convert kcat to 1/s
df_kcat.kcat = df_kcat.kcat / 3600

# Determine gene being mapped to
for i in df_kcat.index:
    name = df_kcat.complex[i]
    if name[-7:] == '_enzyme':
        df_kcat.loc[i, 'gene_ids'] = df_kcat.complex[i][:-7]
        
# Complex-to-gene mapping info from Oftadeh2021
df_cplx1 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/Yeast_complex_portal.xlsx')
df_cplx1.index = df_cplx1['Product Name'].to_list()

df_cplx2 = pd.read_excel('../input/raw/Oftadeh2021_info_yeast/yeastcyc_prot_complexes_ids.xlsx')
df_cplx2.index = df_cplx2['Product Name'].to_list()

for i in df_kcat.index:
    if i in df_cplx1.index:
        df_kcat.loc[i, 'gene_ids'] = ','.join(df_cplx1.Genes[i].split(' // '))
    elif i in df_cplx2.index:
        df_kcat.loc[i, 'gene_ids'] = ','.join(df_cplx2.Genes[i].split(' // '))

In [62]:
df_model = pd.read_excel('../model/scRAM_network_frompy.xlsx')
df_model = df_model[df_model.type == 'metabolic']

In [59]:
df_kcat.head()

,complex,kcat,gene_ids
CPLX3O-117,CPLX3O-117,693.508208,"Q0045,Q0250,Q0275,YGL187C,YNL052W,YHR051W,YMR2..."
CPX-1722,CPX-1722,693.508208,"Q0045,Q0250,Q0275,YGL187C,YIL111W,YHR051W,YMR2..."
YDL093W_enzyme,YDL093W_enzyme,70.900278,YDL093W
YJR143C_enzyme,YJR143C_enzyme,0.005367,YJR143C
YOR321W_enzyme,YOR321W_enzyme,0.005367,YOR321W

In [66]:
for i in df_kcat[df_kcat.gene_ids.isnull()].index:
    print(i)

trna_ch_s_1035_c_0
trna_ch_s_1048_c_0
rib_mit
trna_ch_s_1051_c_0
trna_ch_s_0965_c_0
trna_ch_s_1025_c_0
trna_ch_s_1006_c_0
trna_ch_s_1029_c_0
trna_ch_s_1032_c_0
trna_ch_s_1056_c_0
trna_ch_s_0973_c_0
trna_ch_s_0999_c_0
trna_ch_s_0981_c_0
trna_ch_s_0955_c_0
COMPLEX_53
COMPLEX_54
rnap_mit
YLR355C_enzyme_r_0096
rnap
rib
trna_ch_s_1021_c_0
YMR062C_enzyme_r_0761
YLR044C_enzyme_r_0567
trna_ch_s_0991_c_0
trna_ch_s_1003_c_0
trna_ch_s_1039_c_0
trna_ch_s_1016_c_0
trna_ch_s_1039_c_1
trna_ch_s_1045_c_0
trna_ch_s_0969_c_0
trna_ch_s_1003_c_1
CPLX3O-118_r_0567
CPLX3O-8_r_0109
CPX-1850_r_0566
CPX-1162_r_2140
COMPLEX_0
COMPLEX_1
COMPLEX_2
COMPLEX_3
COMPLEX_4
COMPLEX_5
COMPLEX_6
COMPLEX_7
COMPLEX_8
COMPLEX_9
COMPLEX_10
COMPLEX_11
COMPLEX_12
COMPLEX_13
COMPLEX_14
COMPLEX_15
COMPLEX_16
COMPLEX_17
COMPLEX_18
COMPLEX_19
COMPLEX_20
COMPLEX_21
COMPLEX_22
COMPLEX_23
COMPLEX_24
COMPLEX_25
COMPLEX_26
COMPLEX_27
COMPLEX_28
COMPLEX_29
COMPLEX_30
COMPLEX_31
COMPLEX_32
COMPLEX_33
COMPLEX_34
COMPLEX_35
COMPLEX_36
COMPLEX_37
COMPLEX_38
COMPLEX_39
COMPLEX_40
COMPLEX_41
COMPLEX_42
COMPLEX_43
COMPLEX_44
COMPLEX_45
COMPLEX_46
COMPLEX_47
COMPLEX_48
COMPLEX_49
COMPLEX_50
COMPLEX_51
COMPLEX_52
r_0226_0

In [15]:
import brendapy

WARNING:root:Taxonomy loaded in 5.285283088684082 s.

In [16]:
from brendapy import BrendaParser

In [17]:
def parse_yeast_proteins_for_ec(ec):
    brenda = BrendaParser()
    proteins = brenda.get_proteins(ec)

    print(f"{len(proteins)} proteins for EC {ec} in BRENDA")
    print(f"Protein identifier: {proteins.keys()}")
    print("-" * 80)
    for p in proteins.values():
        if p.organism == "Saccharomyces cerevisiae":
            print(p)
            print("-" * 80)

In [19]:
brenda = BrendaParser()

In [ ]:
brenda.

In [35]:
ec = '1.1.1.49'
brenda = BrendaParser()
proteins = brenda.get_proteins(ec)

ERROR:root:data could not be converted to float: 20-50 {D-glucose 6-phosphate}
ERROR:root:data could not be converted to float: 2-3 {deamino-NADP+}
ERROR:root:data could not be converted to float: 0.006-0.008 {NADP+}
ERROR:root:data could not be converted to float: 0.046-0.047 {D-galactose 6-phosphate}
ERROR:root:data could not be converted to float: 0.041-0.043 {NADPH}
ERROR:root:data could not be converted to float: -999 {more}
WARNING:root:Taxonomy id could not be resolved for species/organism: Penicillium duponti
WARNING:root:Taxonomy id could not be resolved for species/organism: Fragaria x
ERROR:root:Source/Tissue not found in Brenda Tissue Ontology (BTO): 'neutrophilic granulocyte'

In [27]:
prot = proteins[12]

In [38]:
prot.organism

'Saccharomyces cerevisiae'

In [9]:
df_kcat = df_kcat1.merge(df_kcat2)

In [10]:
df_kcat

            complex        kcat
0               rib     72000.0
1              rnap    288000.0
2           rib_mit    144000.0
3          rnap_mit    288000.0
4    YGR036C_enzyme  13788000.0
..              ...         ...
358  YMR210W_enzyme      6418.8
359  YNL092W_enzyme       280.8
360  YIR038C_enzyme    137448.0
361  YIR036C_enzyme      9900.0
362    dummy_enzyme         0.0

[363 rows x 2 columns]

In [11]:
df_kcat1.shape[0]

1005

In [12]:
df_kcat2.shape[0]

1067

In [4]:
set(df_kcat1.complex) - set(df_kcat2.complex)

{'CPX-1279',
 'YAL044C_enzyme',
 'YDR019C_enzyme',
 'YMR189W_enzyme',
 'YNL191W_enzyme',
 'r_0226_0'}

In [5]:
set(df_kcat2.complex) - set(df_kcat1.complex)

{'COMPLEX_0',
 'COMPLEX_1',
 'COMPLEX_10',
 'COMPLEX_11',
 'COMPLEX_12',
 'COMPLEX_13',
 'COMPLEX_14',
 'COMPLEX_15',
 'COMPLEX_16',
 'COMPLEX_17',
 'COMPLEX_18',
 'COMPLEX_19',
 'COMPLEX_2',
 'COMPLEX_20',
 'COMPLEX_21',
 'COMPLEX_22',
 'COMPLEX_23',
 'COMPLEX_24',
 'COMPLEX_25',
 'COMPLEX_26',
 'COMPLEX_27',
 'COMPLEX_28',
 'COMPLEX_29',
 'COMPLEX_3',
 'COMPLEX_30',
 'COMPLEX_31',
 'COMPLEX_32',
 'COMPLEX_33',
 'COMPLEX_34',
 'COMPLEX_35',
 'COMPLEX_36',
 'COMPLEX_37',
 'COMPLEX_38',
 'COMPLEX_39',
 'COMPLEX_4',
 'COMPLEX_40',
 'COMPLEX_41',
 'COMPLEX_42',
 'COMPLEX_43',
 'COMPLEX_44',
 'COMPLEX_45',
 'COMPLEX_46',
 'COMPLEX_47',
 'COMPLEX_48',
 'COMPLEX_49',
 'COMPLEX_5',
 'COMPLEX_50',
 'COMPLEX_51',
 'COMPLEX_52',
 'COMPLEX_53',
 'COMPLEX_54',
 'COMPLEX_6',
 'COMPLEX_7',
 'COMPLEX_8',
 'COMPLEX_9',
 'CPLX3O-117',
 'CPLX3O-118_r_0567',
 'CPLX3O-8_r_0109',
 'CPX-1162_r_2140',
 'CPX-1722',
 'CPX-1850_r_0566',
 'YDL093W_enzyme',
 'YGR209C_enzyme',
 'YJR143C_enzyme',
 'YLR044C_enzyme_r_0567',
 'YLR355C_enzyme_r_0096',
 'YMR062C_enzyme_r_0761',
 'YOR321W_enzyme'}